.jumbotron {
    background-color: #17afb4;
    color: #000000;
    padding-top: 100px;
}

.card-accesorios {
    flex: 1 200px;
    margin-top: 5px;
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
    margin-top: 10px;
}

.btn-contacto {
    width: 50%;
    margin-left: 10px;
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: #909090;
    margin: 10px 0px 10px 0px;
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
