/* Definición de colores para el webpage less */
@yellow: #f1a014;
@red: #e35663;
@blue: #00acb9;
@gray: #909090;
@black: #000000;

/* Definición del mixin - código reutilizable less */
.margenes(@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
    margin-top: @top;
    margin-right: @right;
    margin-bottom: @bottom;
    margin-left: @left;
}

/* Inicio de configuración css para las class */
.jumbotron {
    background-color: @red;
    color: @black;
    padding-top: 100px;
}

.card-accesorios {
    flex: 1 200px;
    .margenes(5px, 0px, 0px, 0px);
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
    .margenes(10px, 0px, 0px, 0px);
}

.btn-contacto {
    width: 50%;
    .margenes(0px, 0px, 0px, 10px);
}

footer {
    padding: 10px 10px 10px 10px;
    background-color: @blue;
    .margenes(10px, 0px, 10px, 0px);
}

.footer-address-icon {
    padding-right: 10px;
}

.tab-content {
    padding-top: 10px;
}
