@charset "UTF-8";
/* Definición de colores para el webpage sass */
/* Definición del mixin - código reutilizable sass */
/* Inicio de configuración css para las class */
.jumbotron {
  background-color: #00acb9;
  color: #000000;
  padding-top: 100px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.card-accesorios {
  flex: 1 200px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.btn-comprar {
  width: 100%;
  border-radius: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.btn-contacto {
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px; }

footer {
  background-color: #f1a014;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }

.footer-address-icon {
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

.container {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 20px;
  padding-left: 0px; }
