/* Definición de colores para el webpage sass */
$yellow: #f1a014;
$red: #e35663;
$blue: #00acb9;
$gray: #909090;
$black: #000000;

/* Definición del mixin - código reutilizable sass */
@mixin margenes($top, $right, $bottom, $left) {
    margin-top: $top;
    margin-right: $right;
    margin-bottom: $bottom;
    margin-left: $left;
}

@mixin paddings($top, $right, $bottom, $left) {
    padding-top: $top;
    padding-right: $right;
    padding-bottom: $bottom;
    padding-left: $left;
}

/* Inicio de configuración css para las class */
.jumbotron {
    background-color: $blue;
    color:$black;
    @include paddings(100px, 0px, 0px, 0px);
}

.card-accesorios {
    flex: 1 200px;
    @include margenes(5px, 0px, 0px, 0px);
}

.btn-comprar {
    width: 100%;
    border-radius: 0px;
    @include margenes(10px, 0px, 0px, 0px);
}

.btn-contacto {
    width: 50%;
    @include margenes(0px, 0px, 0px, 10px);
}

footer {
    background-color: $yellow;
    @include margenes(10px, 0px, 10px, 0px);
    @include paddings(10px, 10px, 10px, 10px);
}

.footer-address-icon {
    @include paddings(0px, 10px, 0px, 0px);
}

.tab-content {
    @include paddings(10px, 0px, 0px, 0px)
}

.container {
    @include paddings(0px, 0px, 20px, 0px)
}
