/* Definición de colores para el webpage less */
/* Definición del mixin - código reutilizable less */
/* Inicio de configuración css para las class */
.jumbotron {
  background-color: #e35663;
  color: #000000;
  padding-top: 100px;
}
.card-accesorios {
  flex: 1 200px;
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.btn-comprar {
  width: 100%;
  border-radius: 0px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.btn-contacto {
  width: 50%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 10px;
}
footer {
  padding: 10px 10px 10px 10px;
  background-color: #00acb9;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.tab-content {
  padding-top: 10px;
}
